body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 10px 10px;
    border-color: black;
    border-style: solid;
    border-width: 0.1em;
    padding: 1.5em; 
    display: flex;
    flex-direction: column;
    width: 22em;
    border-radius: 20px;
    margin-bottom: 10px;
}

#illust {
    border-radius: 15px;
    width: 22em;
    margin-bottom: 0.4em;
}

p {
    line-height: 150%;
    letter-spacing: 0px;
}

#p-1 {
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-size: 16px;
    font-weight: 700;
    width: min-content;
    padding: 0.5em 0.7em;
    border-radius: 5px;
}

#p-2 {
    font-size: 16px;
    line-height: 150%;
    color: hsl(0, 0%, 7%);
}

#p-3 {
    font-size: 24px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    margin: 0;
}

#p-3:hover {
    color: hsl(47, 88%, 63%);
}

#p-4 {
    color: hsl(0, 0%, 42%);
    font-size: 17px;
    font-weight: 500;
}

#p-5 {
    font-size: 14px;
    font-weight: 800;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#avatar {
   width: 2.5em;
   height: 2.5em;
   margin-right: 0.7em;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}